<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Use cases</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="locate" slot="start"></ion-icon>
        <ion-label>Load pins on map</ion-label>
        <ion-button (click)="generatePins()">Load pins on map</ion-button>
      </ion-item>
      <ion-item>
        <ion-icon name="navigate" slot="start"></ion-icon>
        <ion-label>Zoom in/out specific pin</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="map" slot="start"></ion-icon>
        <ion-label>Change/Replace pins on map on user-selections</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon  name="search" slot="start"></ion-icon>
        <ion-label>Auto Zoom to center map on a group of pins</ion-label>
        <ion-button (click)="centerPins()">Fit to map</ion-button>
      </ion-item>
      <ion-item>
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>pin information</ion-label>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Map Test</ion-title>
    </ion-toolbar>
  </ion-header>
  <body>
    <div id="mapa-mapbox" width="auto" height="auto" scrolling="no" frameborder="0"></div>
   
    
  </body>
   
  
</div>



